main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 75%;
  margin: auto;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    padding: 3rem 5.5rem 3rem 3rem;
    .card-heading {
      font-family: "Big Shoulders Display", cursive;
      text-transform: uppercase;
      font-size: 5rem;
      color: $very-light-gray;
    }
    .card-info {
      font-family: "Lexend Deca", sans-serif;
      font-size: 1.6rem;
      margin-bottom: 5rem;
      color: $paragraphs;
    }
    button {
      background: $very-light-gray;
      padding: 1.5rem 3rem;
      border-radius: 2rem;
      border: 2px solid $very-light-gray;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
  }
  .sedan {
    background: $bright-orange;
    .btn-1 {
      color: $bright-orange;
      &:hover {
        color: $very-light-gray;
        background: $bright-orange;
      }
    }
    border-radius: 1rem 0 0 1rem;
  }
  .suvs {
    background: $dark-cyan;
    .btn-2 {
      color: $dark-cyan;
      &:hover {
        color: $very-light-gray;
        background: $dark-cyan;
      }
    }
  }
  .luxury {
    background: $very-dark-cyan;
    .btn-3 {
      color: $very-dark-cyan;
      &:hover {
        color: $very-light-gray;
        background: $very-dark-cyan;
      }
    }
    border-radius: 0 1rem 1rem 0;
  }
}
