@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

body {
  background: #f2f2f2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 75%;
  margin: auto;
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding: 3rem 5.5rem 3rem 3rem;
}

.cards .card .card-heading {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 5rem;
  color: #f2f2f2;
}

.cards .card .card-info {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 5rem;
  color: rgba(255, 255, 255, 0.75);
}

.cards .card button {
  background: #f2f2f2;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  border: 2px solid #f2f2f2;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.cards .sedan {
  background: #e38826;
  border-radius: 1rem 0 0 1rem;
}

.cards .sedan .btn-1 {
  color: #e38826;
}

.cards .sedan .btn-1:hover {
  color: #f2f2f2;
  background: #e38826;
}

.cards .suvs {
  background: #006970;
}

.cards .suvs .btn-2 {
  color: #006970;
}

.cards .suvs .btn-2:hover {
  color: #f2f2f2;
  background: #006970;
}

.cards .luxury {
  background: #004241;
  border-radius: 0 1rem 1rem 0;
}

.cards .luxury .btn-3 {
  color: #004241;
}

.cards .luxury .btn-3:hover {
  color: #f2f2f2;
  background: #004241;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  .cards {
    width: 50%;
    max-height: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }
  .cards .sedan {
    border-radius: 1rem 1rem 0 0;
  }
  .cards .luxury {
    border-radius: 0 0 1rem 1rem;
  }
  .cards .card {
    padding: 10rem 3rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cards .card .logo {
    margin-top: 1rem;
  }
  .cards .card .card-heading {
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .cards .card .card-info {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .cards .card button {
    padding: 1rem 1.5rem;
  }
  .attribution {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */